!!!5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Triangular
    = stylesheet_link_tag "/css/vendor/bootstrap.min.css"
    = stylesheet_link_tag "/css/vendor/bootstrap-glyphicons.css"
    = stylesheet_link_tag "/css/vendor/nprogress.css"
    = stylesheet_link_tag "application"
  %body
    #main
      #navigation
        %a.brand(href='#') Rabaab
        %ul.nav
          %li
            %a(href='#') <i class="icon-star-1"></i> Latest Albums
          %li
            %a(href='#') <i class="icon-clock"></i> Recently Played
          %li
            %a(href='#') <i class="icon-menu-1"></i> Playlists
          %li
            %a(href='#') <i class="icon-star-1"></i> Top Songs
    #container
      .search
        %input.form-control.input-sm(type="text" placeholder="Search for album, song or artist...")
      .content
        %h1.header Latest Albums
        %ul.list.list-albums
          %li
            %a
              %span.title Some casette
              %span.artist Awesome Singh
          %li
            %a
              %span.title Another casette
              %span.artist Ghaint Sharma
    #playlist <div class='title'><i class='icon-list-add'></i> Playlist</div>
    %footer.footer
      .player
        .info
          .title Some title
          .author Author
        .primary-buttons
          %a#previous-btn.icon-to-start
          %a#play-btn.icon-play
          %a#next-btn.icon-to-end
        .progress
          %span.current 0:11
          .progress
            %span.expand
          %span.total 4:28
        .secondary-buttons
          %a#previous-btn.icon-to-start
          %a#next-btn.icon-to-end
        .volume

    -# javascript includes
    = javascript_include_tag  "/js/vendor/jquery-2.1.0.min.js"
    = javascript_include_tag  "/js/vendor/bootstrap.min.js"
