!!!5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Triangular
    = stylesheet_link_tag "/css/vendor/bootstrap.min.css"
    = stylesheet_link_tag "/css/vendor/bootstrap-glyphicons.css"
    = stylesheet_link_tag "/css/vendor/nprogress.css"
    = stylesheet_link_tag "application"
  %body
    -# Handlebar templates
    = partial 'layouts/application'
    = partial 'layouts/sidebar'
    = partial 'layouts/latest_albums'
    = partial 'layouts/album'
    = partial 'layouts/artist'
    = partial 'layouts/search'
    = partial 'layouts/player'

    -# javascript includes
    = javascript_include_tag  "/js/vendor/jquery-2.0.3.min.js"
    = javascript_include_tag  "/js/vendor/handlebars-1.1.2.js"
    = javascript_include_tag  "/js/vendor/ember-1.2.0.js"
    = javascript_include_tag  "/js/vendor/ember-states.js"
    = javascript_include_tag  "/js/vendor/compat.js"
    = javascript_include_tag  "/js/vendor/nprogress.js"
    = javascript_include_tag  "/js/vendor/mousetrap.min.js"
    = javascript_include_tag  "/js/vendor/soundmanager2.js"
    = javascript_include_tag  "/js/vendor/bootstrap.min.js"
    = javascript_include_tag  "application"
